<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666807769348-k255h6dv522m40cog241i8f2gl72747j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666807769348-k255h6dv522m40cog241i8f2gl72747j</string>
	<key>API_KEY</key>
	<string>AIzaSyBf7IBTX7idvbo36kcJZlV80EYR2U518Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>666807769348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cboerp.assignment</string>
	<key>PROJECT_ID</key>
	<string>cboerp-87380</string>
	<key>STORAGE_BUCKET</key>
	<string>cboerp-87380.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666807769348:ios:d8da8ddd98476b25949851</string>
</dict>
</plist>